PORT= "your port number"
DATABASE_URL="your db url"
JWT_SECRET="your secret key"

-- if you use locally, you can use these
JUDGE0_API_URL="judge0 api url" // http://localhost:2358

-- if you use sulu, you can use these
JUDGE0_API_URL="https://judge0-ce.p.sulu.sh"
JUDGE0_API_KEY="sulu api key"

CLIENT_URL="http://localhost:5173" or "your client url"